
<div id="content"><p>
    <h2>La Ferme des animaux</h2>
    <ul>
        <li>Auteur : Georges Orwell</li>
        <li>ISBN : 2-07-037516-1</li>
    </ul>
    <p>La Ferme des animaux (Animal Farm) est un roman de George Orwell publié en 1945, décrivant une ferme dans laquelle les animaux se révoltent puis prennent le pouvoir et chassent les hommes.</p>
    </p>
</div>

